body *{
    margin: 0;
    padding: 0;
}
body {
    width: 100wh;
    height: 90vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    /*background: linear-gradient(-45deg, #d4fc79, #96e6a1, #84fab0, #8fd3f4);*/
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

    overflow: hidden;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.container{
    background: rgb(70, 44, 44);
    text-align: center;
    mix-blend-mode: multiply;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}
h1{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 10em;

    margin-top: 10%;
}
#loading-container svg{
    margin: 10px;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 5em;
    }
    @supports (mix-blend-mode: multiply){
        .container{
            mix-blend-mode: multiply;
        }
    }
}

.social-media-container{
    margin: 10px
}
.social-media-icon{
    border-radius: 50%;
}
.social-media-container .social-media-icon svg{
    width: 40px;
    margin: 3px;
}
/* FOOTER */
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: #212121;
    mix-blend-mode: multiply;
}
.footer-social-media{
    float: left;
    width: 30px;
    margin: 5px 0 5px 5px;
}

/* Background */
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }